html,
:root {
	font-size: 16px;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	-webkit-text-size-adjust: 100%;
	--border-color: #393a3b;
	--clean-bg: #262626de;

	--test: #545557;

	--slider-w: 24px;
	--valgap: 0.5rem;

	--h: 17deg;
	--s: 27%;
	--l: 52%;
	--a: 1;

	/* thanks coolors.co for shifting by 40 and not letting anyone know */
	--analog-shift: 40deg;

	--m-hsl: hsla(var(--h), var(--s), var(--l), var(--a));

	--complement: hsla(calc(var(--h) + 180deg), var(--s), var(--l), var(--a));

	--analog1: hsla(calc(var(--h) + var(--analog-shift)), var(--s), var(--l), var(--a));
	--analog2: hsla(calc(var(--h) - var(--analog-shift)), var(--s), var(--l), var(--a));

	--triadic1: hsla(calc(var(--h) + 120deg), var(--s), var(--l), var(--a));
	--triadic2: hsla(calc(var(--h) - 120deg), var(--s), var(--l), var(--a));

	--tetradic1: hsla(calc(var(--h) + 90deg), var(--s), var(--l), var(--a));
	--tetradic2: hsla(calc(var(--h) + 180deg), var(--s), var(--l), var(--a));
	--tetradic3: hsla(calc(var(--h) - 90deg), var(--s), var(--l), var(--a));
}
.hide { display: none !important; }

body {
	/* boxSize: 225, slider width 24, gap 8 */
	/* 24 + 8 + 24 + 8 + 24 + 8 + 225 */
	width: 321px;
	min-height: 50px;

	color: #fff;
	background: #171f30;
	line-height: 150%;
	font-size: 16px;
	padding: 0;
}

/* picker */
#picker .IroColorPicker {
	--wu: 8px;
	--wu2: var(--slider-w);

	grid-template-rows: var(--wu2) 1fr;
	grid-template-columns: repeat(3, var(--wu2)) max-content;
	gap: var(--wu);

	width: max-content;
}
#picker .IroColorPicker .IroSlider {
	grid-row: 2/4;
	box-sizing: border-box;
	margin: 0;
}
#picker .IroColorPicker .IroBox {
	grid-row: 2/4;
	grid-column: 4;
}
#picker .IroColorPicker .IroSlider:last-of-type {
	grid-row: 1;
	grid-column: 4/5;
}
#picker .IroColorPicker .btn.clean {
	grid-column: 1/4;
	grid-row: 1;
}

/* displays */
#display-hold, #hover-tooltip-display {
	border: 2px solid var(--border-color);
	border-radius: 5px;
	overflow: hidden;
}

#display-hold {
	grid-row: 1/4;

	display: grid; 
	grid-template: 100% / 100%;

	grid-column: 3;
}

#display, #display-hold { 
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.checkerboard-bg {
	background: conic-gradient(
			rgb(204, 204, 204) 25%,
			rgb(255, 255, 255) 0deg,
			rgb(255, 255, 255) 50%,
			rgb(204, 204, 204) 0deg,
			rgb(204, 204, 204) 75%,
			rgb(255, 255, 255) 0deg
		)
		0% 0% / 8px 8px;
}

/* values */
#values {
	--valc: 3;
	margin-top: 16px;
	font-family: "Consolas", monospace;
	line-height: 150%;
	width: 100%;

	display: grid;
	grid-template-rows: repeat(var(--valc), min-content);
	
	/* 3 * 27.78 + 2 * 8 px: 27.78 inp-height width 8 spacing = 99.34px for perfect square*/
	/* 2 * 27.78 + 1 * 8 px: 27.78 inp-height width 8 spacing = 63.56px for 2/3 of a square*/
	grid-template-columns: min-content minmax(18px, min-content) 1fr;

	row-gap: var(--valgap);
	column-gap: var(--valgap)
}
#values.alpha-shown {
	column-gap: calc(var(--valgap)/2);
}

.valspan {
	grid-column: 1;
	display: flex;
	flex-wrap: nowrap;
}
.valspan .val-label {
	cursor: pointer;
	width: max-content;
}

.valspan.span-hex {
	width: auto
}

#values .copy {
	grid-column: 2;
	border-radius: 5px;
	height: 100%;
	width: 100%;
}
#values .copy:active {
	background-color: #545557;
}

#copy_hex { grid-row: 1 }
#copy_rgb { grid-row: 2 }
#copy_hsl { grid-row: 3 }

code,
input.code,
.clean {
	font-size: 1rem;
	font-family: "Consolas", monospace;
	background-color: var(--clean-bg);
	padding: 0.1rem 0.15rem;
	border-radius: 5px;
	border: 2px solid var(--border-color);
	color: #fff;
	outline: 0px solid transparent;
}

input.code {
	box-sizing: border-box;
	width: 100%;
	height: min-content;
}

.valspan input.code:not(#c_hex) {
	width: 36px;
	display: inline-block;
}
.valspan input.code:not(#c_hex)[id*="_a"] {
	width: 46px;
}

.valspan #c_rgb_a_hold, .valspan c_hsl_a_hold {
	width: max-content;
}

#generate-wrapper {
	margin-top: 16px;
}
#generate-wrapper button.clean {
	height: var(--slider-w);
}

/* color-table */
#color-table {
	display: grid;

	grid-template-rows: repeat(5, min-content);
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas: 
	"analog-text complement-text"
	"analog complement"
	"triadic-text tetradic-text"
	"triadic tetradic"
	"tooltip tooltip"; 

	margin-top: 8px;
	font-family: "Consolas", monospace;
	line-height: 150%;

	row-gap: calc(var(--valgap) / 2);
	column-gap: var(--valgap);
}
#analog-t { grid-area: analog-text }
#complement-t { grid-area: complement-text }
#triadic-t { grid-area: triadic-text }
#tetradic-t { grid-area: tetradic-text }
#hover-tooltip {
	grid-area: tooltip;
}

.mini-display {
	height: 26.19px;

	display: flex;
	flex-direction: row;
	border-radius: 6px;
	overflow: hidden;
	border: 2px solid var(--border-color);
}
.mini-display span[class^="c"] {
	max-width: 100%;
	flex-basis: 100%;
	transition: flex-basis 0.2s, text-shadow 0.2s, color 0.2s;
	color: transparent;
	cursor: pointer;

	font-size: 14px;
	text-align: center;
	border-radius: 0px;
}
.mini-display span[class^="c"] svg {
	position: relative;
	top: 46%;
	transform: translateY(-50%);
	filter: drop-shadow(-1px 1px black);
}

.mini-display span[class^="c"]:hover {
	flex-basis: 200%;
	color: white;
}

#analog .c1 { background-color: var(--analog1) }
#analog .c2 { background-color: var(--analog2) }

#complement .c1 { background-color: var(--complement) }

#triadic .c1 { background-color: var(--triadic1) }
#triadic .c2 { background-color: var(--triadic2) }

#tetradic .c1 { background-color: var(--tetradic1) }
#tetradic .c2 { background-color: var(--tetradic2) }
#tetradic .c3 { background-color: var(--tetradic3) }

.clean {
	cursor: pointer;
	transition: background-color 0.2s, border-color 0.2s;
	width: 100%;
	padding: 0;

	background-color: var(--border-color);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
	border: none;
}

.clean:hover { 
	background-color: #454545;
}

#hover-tooltip, .display-and-input {
	display: flex;
	gap: var(--valgap);
	flex-wrap: nowrap;
}
#hover-tooltip {
	flex-basis: 100%;
	margin-top: var(--valgap);
}
.display-and-input, #hover-tooltip-copymsg { flex-grow: 1; width: 100%; }
#hover-tooltip-hex { 
	width: 100%;
	line-height: var(--slider-w); 
}
#hover-tooltip-copymsg { 
	text-align: right;
	line-height: var(--slider-w); 
}



/* hr { 
	border-color: var(--border-color);
	border-style: solid;
	border-radius: 10px;
	margin-block-start: 16px;
	margin-block-end: 16px;
} */
